@charset "utf-8";
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
// @import "componentes/animate";
@import "componentes/icons";
body{
	background: linear-gradient(#a01007 140px,#e30613 0,#fbb39a 151px,#fff 0,#fff) no-repeat;
	font-size: 14px;
	font-family: "OpensSans";
	line-height: 1.428;
}
figure{
	margin: 0;
}
.row{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	.col70{

	}
	.precio{
				position: relative;
		    border: 1px solid #b5a000;
				background: linear-gradient(150deg,rgba(255, 181, 1, 0.72),#fff330);
				border-radius: 8px;
				padding: 5px 10px;
				margin-left: 5px;
				text-align: center;
		    font-weight: 900;
	}
}
.promocion{
	    position: absolute;
	    transform-origin: top left;
      background: linear-gradient(38deg,transparent 83%,#98c71a 0);
	    top: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
			h5{
				position: absolute;
				right: 0;
				color: #fff;
				font-family: OpenSansCondBold;
				text-shadow: 1px 1px 1px #6b6b6b;
				top: 3.5%;
				font-size: 1.6rem;
				font-weight: 900;
				margin: 0;
				width: 25%;
				text-align: center;
				transform: scaleY(.75);
				@media (min-width: 300px){
					font-size:2rem;
				}
				@media (min-width: 400px){
					font-size:2.5rem;
				}
				@media (min-width: 500px){
					font-size:3rem;
				}
				@media (min-width: 600px){
					font-size:4rem;
				}
				@media (min-width: 770px){
					font-size:2rem;
				}
				@media (min-width: 840px){
					font-size: 2.1rem;
				}
				@media (min-width: 1000px){
					font-size: 2.25rem;
				}
				@media (min-width: 1100px){
					font-size: 2.3rem;
				}
				@media (min-width: 1250px){
					font-size: 2.4rem;
				}
				@media (min-width: 1300px){
					font-size: 2.5rem;
				}
			}
			p{
				position: absolute;
				width: 35%;
				font-size: .8rem;
				font-weight: 900;
				text-align: right;
				text-shadow: -1px 2px 3px #2d2d2d;
				color: #fff;
				right: 4px;
				top: 0;
				margin: 4px 0;
				@media (min-width: 300px){
					font-size:0.75rem;
				}
				@media (min-width: 400px){
					font-size:0.8rem;
				}
				@media (min-width: 500px){
					font-size:1.1rem;
				}
				@media (min-width: 600px){
					font-size:1.3rem;
				}
				@media (min-width: 770px){
					font-size:0.7rem;
				}
				@media (min-width: 840px){
					font-size: 0.6rem;
				}
				@media (min-width: 1000px){
					font-size: 0.7rem;
				}
				@media (min-width: 1100px){
					font-size: 0.75rem;
				}
				@media (min-width: 1250px){
					font-size: 0.8rem;
				}
				@media (min-width: 1300px){
					font-size: 0.8rem;
				}
			}
}
footer{
  background: url(./../images/footer-img.png),linear-gradient(#ff9400,#ffbf0d);
	background-repeat: no-repeat;
	background-position: top right;
  border-top: 2px solid #ff0000;
	color: #fff;
	flex-flow: row wrap;
	text-align: left;
	.main{
		box-shadow: none;
		font-weight: 900;
    text-shadow: -1px 1px 0px #565656;
		@media (max-width: 500px){
			margin-top: 200px;
		}
	}
	h4, h5{
		font-family: OpenSansCondBold;
		font-size: 1rem;
		border-bottom: 1px solid #ff0000;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 5px;
		margin-top: 5px;
		a{
			color: #F44336;
		}
	}
	ul{
		list-style: none;
		padding-left: 15px;
		margin: 0;
		li{
			a{
				color: #fff;
				display: block;
				padding: 0.1em 0.3em;
				transition: all 0.2s linear;
				&:before{
					content: "";
					margin-right: 5px;
				}
				&:hover{
					padding-left: 15px;
					color: yellow;
				}
			}
		}
	}
}
h1, h2, h3, h4, h5, h6{
	color: inherit;
	font-family: inherit;
	font-weight: 600;
	line-height: 1.1;
}
h1, h2, h3 {
   	margin-top: 15px;
   	margin-bottom: 10px;
}
h4, h5, h6{
   	margin-top: 10px;
   	margin-bottom: 10px;
}
h1{font-size: 38px;}
h2{font-size: 32px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
.ocultar-solo-tablet{
	@media (min-width: 650px) and (max-width: 1150px) {
		display: none;
	}
}
header{
	background: linear-gradient(#f90, #ffbc00);
	// background: url(../images/bgh.png) 50% 0/cover no-repeat #0d4078;
	.mnutop{
		margin-top: 15px;
		display: flex;
    justify-content: space-around;
		a{
			font-family: OpenSansCondBold;
			font-size: 1rem;
			border-radius: 4px;
			color: #fff;
	    text-shadow: 1px 1px 1px black;
			display: block;
			margin-bottom: 5px;
			padding: 0.3em 0.4em;
	    margin-left: 15px;
			position: relative;
			&:hover{
				text-decoration: underline;
			}
			&::before{
				content: "";
				width: 7px;
				height: 7px;
				background: red;
			  border-radius: 50%;
				position: absolute;
				left: -10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
.menu-promo{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  height: 95px;
	margin-top: 5px;
	margin-bottom: 5px;
	.star-icon{
		width: 55px;
		position: absolute;
		color: white;
		font-size: 30px;
		top: 0;
		left: 50%;
		margin-left: -35px;
    background: linear-gradient(#a01007,#ff0000,#a01007);
		border-radius: 50%;
		padding: 6px;
		border: solid;
		box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.7);
		transition: 0.6s all;
	}
	.promo-text{
		font-family: OpenSansCondBold;
		font-size: 20px;
		position: absolute;
		left: 50%;
		top: 55px;
		margin-left: -110px;
		color: red;
		text-shadow: -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 5px #ffffff;
	}
	&:hover{
		.promo-text{
			text-decoration: underline;
		}
		.star-icon{
			transform: rotate(1turn);
		}
	}
}
img{
	max-width: 100%;
}
nav{
	align-items: center;
	//background: linear-gradient(90deg, #fff 10%, #003367 20%, #003367 80%, #fff 90%);
  background: linear-gradient(#00c7ff 6%,#0c8ad0 0);
	justify-content: space-between;
	padding: 0.3em 10px;
	a{
		background: linear-gradient(110deg,#e40d19, red);
		border-radius: 10px;
		box-shadow: inset 0px 2px 1px #fff, inset 2px -1px 3px #f7f7f9;
		color: #fff;
		display: block;
		font-family: "OpenSansCondBold";
		font-size: 1.1em;
		line-height: 1.1rem;
		//padding: 0.7em 1.5em;
		text-align: center;
		text-shadow: 0 0 3px #000;
		text-transform: uppercase;
		&:hover, &:focus{
			color: red;
	    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
	    background: linear-gradient(#ffa000 0,#ffe49a 31%,#ffe1a4 65%, #ffaa00 100%);
		}
	}

}
.container{
 	align-items: center;
 	display: flex;
}
.contenedor{
	align-items: stretch;
}
.col{
	flex: auto;
	padding-left: 10px;
	padding-right: 10px;
  @media (max-width: 1200px) and (min-width: 1090px){
		width: 86%;
  }
	@media (max-width: 1090px) and (min-width: 500px){
		width: 72%;
	}
	@media (max-width: 500px){
		width: 100%;
	}
}

.form{
	.form-input{
		border-radius: 4px;
		border: 1px solid #ccc;
		color: #000;
		display: block;
		line-height: 2.5;
		margin-bottom: 0.3em;
		padding: 0 1em;
		width: 100%;
	}
	.form-submit{
		background: #01579B;
		border-radius: 4px;
		border: 1px solid #ccc;
		color: #fff;
		float: left;
		line-height: 2;
		padding: 0;
		width: 50%;
		&:hover{
			background: #039BE5;
		}
	}
	.form-textarea{
		border: 1px solid #ccc;
		color: #000;
		margin-bottom: 0.3em;
		width: 100%;
	}
}
.items{
	width: 100%;
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	figure{
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		flex-direction: column;
		width: 100%;
    position: relative;
		background: linear-gradient(210deg,#FBB39A,#ffe9e2);
		box-shadow: 0 0 10px #9E9E9E;
		margin-right: 10px;
		margin-bottom: 15px;
		img{
			margin: .5em;
	    border-radius: 15px;
	    height: 300px;
	    object-fit: scale-down;
	    background: white;
		}
		figcaption{
			padding: 0 0.5em;
			h4{
				text-align: center;
				border-bottom: 1px solid #fec7b4;
				padding-bottom: 5px;
				margin-bottom: 5px;
			}
		}
	}
}
.teal-background figure{
	background: linear-gradient(210deg,#0fb7cd,#fffbf0);
}
.green-background figure{
  background: linear-gradient(210deg,#9fd60c,#ffffff);
}
.gold-background figure{
  background: linear-gradient(210deg,#ffa000,#ffe9e2);
}
.purpure-background figure{
	background: linear-gradient(210deg,#c55aff,#ffe9e2);
}
.main{
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 0 15px #757575;
	@media (min-width: 700px) and (max-width: 800px) {
		width: 90%;
	}
	@media (min-width: 400px) and (max-width: 700px) {
		width: 95%;
	}
	@media (max-width: 400px) {
		width: 100%;
	}
}
.productos{
	flex-flow: row wrap;
	figure{
		border-radius: 4px;
		height: 270px;
		margin-bottom: 15px;
		padding: 0.5em 0;
		position: relative;
		text-align: center;
		transition: all 0.5s linear;
		img{
			box-shadow: 0 0 10px #9E9E9E;
			border-radius: 4px;
			padding: .3em;
			width: 255px;
			background: #ffa000;
		}
		figcaption{
			color: #000;
			left: 50%;
			opacity: 0;
			position: absolute;
			top: 0%;
			transition: all 0.3s linear;
			transform: translateX(-50%);
			a{
				background: #EF6C00;
				border-radius: 5px;
				box-shadow: 1px 1px 1px #000;
				color: #fff;
				display: block;
				padding: 0.4em 0.5em;
				text-decoration: none;
			}
		}
		&:hover{
			background: #FFE0B2;
			z-index: 10;
		}
		&:hover img{
			opacity: 0.04;
		}
		&:hover figcaption{
			top: 50%;
			opacity: 1;
			transform: translate(-50%, -50%);
		}
	}
}
.representaciones{
  background: linear-gradient(#1d71b8,#2588dc,#005298,#1a77c5);
	color: #fff;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
    padding: 0.5em 1em;
}
.social{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	a{
		color: #0099ff;
		margin-right: 10px;
		font-size: 1.3em;
		&:hover{
			color: #fff;
		}
	}
}
.title{
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 15px;
	padding: 8px 25px;
	padding-bottom: 10px;
	background: linear-gradient(#95c11f,#a6e400,#b2e821);
	color: white;
	border: solid 1.6px #86A929;
	text-shadow: 1px 1px 0px #7b7b7b;
	box-shadow: 1px 2px 3px 0px #757575;
	border-radius: 28px;
	display: inline-block;
}
@media (min-width: 320px) {
	header{
		flex-flow: row wrap;
	}
	nav{
		flex-flow: row wrap;
		a{
			padding: 0.7em 2em;
		}
	}
}
@media (min-width: 768px) {
	header{
		flex-flow: row nowrap;
	}
	.items{
		figure{
			width: calc(50% - 10px);
			&:nth-child(2n){
				margin-right: 0;
			}
		}
	}
	nav{
		flex-flow: row wrap;
		a{
			padding: 0.7em 1em;
		}
	}
}
@media (min-width: 992px) {
	.items{
		figure{
			width: calc(50% - 10px);
			&:nth-child(2n){
				margin-right: 0;
			}
		}
	}
	nav{
		flex-flow: row nowrap;
		a{
			padding: .7em .5em;
	    width: 12.3%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		}
	}
}
@media (min-width: 1200px) {
	.col1{ flex: 1 1 8.33%}
	.col2{ flex: 1 1 16.66%}
	.col3{ flex: 1 1 25%}
	.col4{ flex: 1 1 33.33%}
	.col5{ flex: 1 1 41.66%}
	.col6{ flex: 1 1 50%}
	.col7{ flex: 1 1 58.33%}
	.col8{ flex: 1 1 66.66%}
	.col9{ flex: 1 1 75%}
	.col10{ flex: 1 1 83.33%}
	.col11{ flex: 1 1 91.66%}
	.col12{ flex: 1 1 100%;width: 89.5%;}
	.items{
		figure{
			width: calc(33.33% - 10px);
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
	nav{
		flex-flow: row nowrap;
		a{
			padding: 0.5em 0.5em;
		}
	}
}
ul.social_icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
		li {
	    display: inline-block;
	    margin-right: 5px;
	    margin-top: 11px;
	    margin-bottom: 10px;
			a i {
				border-radius: 10%;
		    line-height: 3.5rem;
		    font-size: 1.25rem;
		    padding: 12px;
		    text-align: center;
		    width: 50px;
		    text-shadow: none;
		    opacity: .85;
				&:hover {
				    transform: rotate(1turn);
				    transition-duration: 2s;
				    transition-property: all;
				    transition-timing-function: ease;
				    opacity: 1;
				    transition: all .9s ease 0s;
				}
			}
			.icon-facebook{
				background: #1d71b8;
				color: #ffffff;
				&:hover {
		      background: linear-gradient(150deg,#89c3ff,#004ec7,#004ec7 110%);
					color: #fff;
				}
			}
			.icon-youtube{
				background: red;
				color: #ffffff;
				&:hover {
					background: linear-gradient(150deg,red,red,red 110%);
					color: #fff;
				}
			}

		}
}
